{% extends "base.html" %}

{% block body %}
	<p id="about">The infamous <em>loopy-juice-infused</em>, casual, warm, raucous, fine, dandy, monthly <em>meet-up</em> for sociable <em>web folk</em>. <a href="/about" title="About Pub Standards">More</a></p>
	
  <!-- <div id="countdown">
  <p>Next jolly: <em>13th January 2011</em></p>
  <p id="days">12 days to go</p>
  </div> -->
	
	<p>Inflicting cities around the world:</p>

	<ul id="locations">
		<li id="l_ldn"><a href="http://london.pubstandards.com/">London, UK</a></li>
		<li id="l_dub"><a href="http://pubstandards.ie/">Dublin, Ireland</a> (Still going, website lies)</li>
		<li id="l_us"><a href="http://pubstandards.us/">Lancaster, Pennsylvania, USA</a></li>
		<li id="l_sf"><a href="https://twitter.com/pubstandardssf">San Francisco, California, USA</a></li>
		<li id="l_mn"><strike><a href="http://pubstandards.mn/">Minneapolis, Minnesota, USA</a></strike> (Defunct as of 2013)</li>
	</ul>

    <p id="create">Live in Manchester, New York, or Ljubljana and can't justify the air fare to your nearest Pub Standards? Why not <a href="/newchapter">start your own chapter</a>?</p>
{% endblock %}
