{% extends "base.html" %}

{% block body %}
	<h1>Start a new chapter</h1>
	<p>If an existing chapter is in an inconvenient location for you and there is a substantial number of others in your area who you think would regularly attend a Pub Standards closer to home, we encourage you to start your own chapter.</p>
	<p>You will have your own mailing list and area on this web site to promote your meet-ups and existing Pub Standards attendees will do what they can to help along the way. Before we jump to it, though, here are a few things to consider:</p>
	<ul>
		<li>Is there <em>enough people</em> in your area to warrant the special occasion? You, your mate, and her three-legged dog doesn't really fit the mould but if you're in a city with numerous enthusiastic web peoples it just might work.</li>
		<li>Is the appetite both of yourself and the surrounding community big enough to make meet-ups work <em>every month?</em></li>
		<li>Is there an <em>adequate drinking establishment</em> big enough, friendly enough, and special enough to accommodate the new chapter? It should be chosen carefully; tradition dictates that, barring demolition by a rampaging giant lizard, Pub Standards is always in the same place.</li>
		<li>The traditional dates are pretty immovable. Will people be available on the <em>middle Thursday of the month</em>, or is that when the web designers in your area typically have pedicure appointments?</li>
		<li>Pub Standards isn't big on rules but each chapter will probably want to fit in to <em>the general ethos</em>. It is inclusive, progressive and sometimes intelligent. Beer drinking is advisable but optional, presentations are considered a sin and recruitment agents should generally be greeted with boos, hisses, and rotten eggs. The <a href="http://lists.pubstandards.co.uk/listinfo.cgi/beer-pubstandards.co.uk">mailing list</a> and <abbr>IRC</abbr> channel (<code>#pubstandards</code> on irc.freenode.net) could be a good place to get a feel for the vibe.</li>
</ul>

	<p>If all sounds good and groovy, <a href="contact@pubstandards.com">email us</a>. We're often quite friendly.</p>
{% endblock %}
